@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    place-items: center;
    background: #1C2833;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(110, 90, 90);
    font-family: 'Rubik', sans-serif;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.name {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.name h5 {
    color: whitesmoke;
    font-size: 20px;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-link a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

.nav-link li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-link {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-link {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(110, 90, 90);
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-link li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-0.2px,-4px);
}

.music {
    font-size: 60px;
}

.image-logo {
    position: relative;
    max-width: 1500px;
    width: 100%;
    height: 690px;
    overflow: hidden;
    background: url('./assets/RPROSE4.png') no-repeat center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-size: cover;
    z-index: -1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.container h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0; 
}

.container h1 span {
    border: 10px solid  black;
    padding: 6px 14px;
    display: inline-block;
}

.testimonials {
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner {
    max-width: 1200px;
    max-height: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.inner h1 {
    text-transform: capitalize;
    font-size: 60px;
}

.border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 15px;
    text-transform: uppercase;
    margin: 20px 0;
    color: #4834d4;
}

.socials {
    color: black;
    margin-bottom: 20px;
}

.socials a{
    color: black;
    display: inline-block;
    margin: 0 4px;
    font-size: 25px;
    letter-spacing: 9px;
    text-decoration: none;
    transition: 0.6s;
}

.socials a:hover{
    transform: scale(1.3);
}

.socials a i{
    color: #333;
    line-height: 30px;
}


.testimonial p{
    font-weight: bold;
}

.testimonial img{
    transition: ease-in-out;
}


@media screen and (max-width: 960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }

    .image {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: bottom;
    }
}



section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: 32px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightblue;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
    margin: 10px 15px;
    padding: 0px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 25px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.footer-icons{
    border-radius: 50px;
    transition: all 1.5s ease-in;
}

.footer-icons a:hover {
    background-color: blue;
    transition: all 0.7s ease-in;
    border-radius: 50px;

}