*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

html {
	font-size: 62.5%;
}

.container-for-music {
	background: rgb(16, 179, 207);
}

.container-for-music .heading {
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 .5rem 1rem #000;
    color: #fff;

}

.container-for-music .music-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    
} 

.container-for-music .music-container .box {
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: darkslategray;
    border-radius: 3rem;
    box-shadow: 0 .5rem 1rem #000;
    overflow: hidden;
    margin: 2rem;
}
.container-for-music .music-container .box .image {
    height: 100%;
    width: 25%;
    
}

.container-for-music .music-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-for-music .music-container .box .music {
    width: 100%;
    
}

.music h4 {
    font-size: 32px;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

.container-for-music .music-container .box .music audio{
    outline: none;
    width: 100%;
    background: transparent;
}

.container-for-music .music-container .box .music audio::-webkit-media-controls-eclosure{
    background: none;
}

.container-for-music .music-container h5 {
	color: white;
	font-size: 32px;
	text-align: left;
	line-height: 150px;
	text-shadow: 0 .5rem 1rem #000;
	font-family: 'Courier New', Courier, monospace;
	
}

@media (max-width:600px) {
    .container-for-music .music-container .box {
        height: 27rem;
        width: 90%;
        flex-flow: column;
    }

    .music h4 {
        font-size: 0px;
    }

    .container-for-music .music-container .box .image {
        height: 80%;
        width: 100%;
    }

    

    .container-for-music .music-container .box .music {
        height: 20%;
        width: 100%;
    }
}

/* Footer */

section {
	width: 100%;
	display: inline-block;
	background: #333;
	height: 50vh;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	text-decoration: underline;
  }

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: 32px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightblue;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 9%;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
    margin: 10px 15px;
    padding: 0px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-inbox{
	font-size: 20px;
	line-height: 38px;
}

.footer-distributed .footer-center i.fa-phone-volume{
	font-size: 20px;
	line-height: 38px;
}

.footer-distributed .footer-center i.fa-map-marked-alt{
	font-size: 20px;
	line-height: 38px;
}


.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 25px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
		width: 7%;
	}

}

.footer-icons{
    border-radius: 50px;
    transition: all 1.5s ease-in;
}

.footer-icons a:hover {
    background-color: blue;
    transition: all 0.7s ease-in;
    border-radius: 50px;

}

@media (max-width:600px) {

	.footer-distributed .footer-center i {
		display: inline-block;
		width: 15%;
		margin-bottom: 40px;
		text-align: center;
		border-radius: 50px;
	}

}

@media (max-width: 1200px) {

	.footer-distributed .footer-center i {
		display: inline-block;
		width: 15%;
		margin-bottom: 40px;
		text-align: center;
		border-radius: 50px;
	}

}